.Target {
  border: 2px solid black;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background-size: 100% 100%;
  margin-left: 10px;
  background-image: url("https://avatars.githubusercontent.com/u/24195641?v=4");
}

.gameBoard {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  border: 2px solid grey;
  height: 500px;
  width: 70%;
  position: absolute;
  background-color: rgb(73, 73, 184);
}

.gameBoard:nth-child(1) {
  left: 10px;
  top: 20px;
}
.gameBoard:nth-child(3) {
  left: 20px;
  top: 90px;
}
.gameBoard:nth-child(4) {
  left: -10px;
  top: 10px;
}
