@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext");
@import url("https://fonts.googleapis.com/css2?family=Mr+Dafoe&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo:wght@900&display=swap");

.allGame {
  margin: auto;
  width: 40%;
  display: flex;
  height: 700px;
  justify-content: center;
  align-items: center;
  border: 2px solid rgba(255, 255, 255, 0.295);
  flex-direction: column;
  padding: 30px;
  margin-top: 3%;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.329);
  position: relative;
}
h1 {
  text-align: center;
  font-family: "Orbitron", sans-serif;
  font-size: 50px;
  margin-bottom: 20px;
}
.Target {
  position: absolute;
  border: 2px solid black;
  border-radius: 50%;
  width: 75px;
  height: 75px;
  background-size: 100% 100%;
  margin-left: 10px;
  background-image: url("https://avatars.githubusercontent.com/u/24195641?v=4");
}

.gameBoard {
  background-blend-mode: soft-light, normal;
  position: relative;
  border: 2px solid rgb(211, 201, 201);
  height: 90%;
  width: 100%;
  background-color: rgb(110, 110, 161);
  border-radius: 10px;
}

.score {
  font-family: "Orbitron", sans-serif;
  font-size: 20px;
  pointer-events: none;
  margin-bottom: -60px;
}
.gameOver {
  font-family: "Orbitron", sans-serif;
  font-size: 100px;
  text-align: center;
  margin-top: 15%;
  color: rgb(65, 65, 65);
}

.startOver,
.startOver:link,
.startOver:visited,
.startOver:active {
  font-family: "Orbitron", sans-serif;
  font-size: 80px;
  position: absolute;
  left: 28%;
  color: rgb(65, 65, 65);
  transition: 500ms;
}
.startOver:hover {
  color: rgb(166, 166, 199);
}

.lose {
  width: 90%;
  height: 280px;
  margin: auto;
  border-radius: 2px;
  text-align: center;
  z-index: 2;
  font-size: 10em;
  letter-spacing: 15px;
  text-transform: uppercase;
  transform: rotate(-10deg);
  text-shadow: 1px 1px hsl(50, 50%, 45%), 2px 2px hsl(50, 50%, 40%),
    3px 3px hsl(50, 50%, 35%), 4px 4px hsl(50, 50%, 34%),
    5px 5px hsl(50, 50%, 33%), 6px 6px hsl(50, 50%, 32%),
    7px 7px hsl(50, 50%, 31%), 8px 8px hsl(50, 50%, 30%),
    9px 9px hsl(50, 50%, 29%), 10px 10px hsl(50, 50%, 28%),
    10px 10px 30px rgba(0, 0, 0, 0.7);
}
.scorelost {
  margin: auto;
  justify-self: center;
  text-align: center;
}
